//Roxo
$primary:   #460c6d;
$primary2: #501a57;
$primary3: #c774fe;

//Azul
$secondary: #5fdada;
$terdiary: #75de78;

//Black
$black: #242424;
$black2: #2e2030;
$black3: #121212;

//Default
$default: #6b6b6b;

//White
$white: #ffffff;
$gray: #cccccc;

$grid-breakpoints: (
    'xs': 480,
    'md': 760,
    'lg': 1024,
    'xl': 1200
)